.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.jumbotron {
  height: 300px;
  width: 100%;
  padding-top: 100%;
  padding-bottom: 20%;
}

.bar {
  height: 30px;
  width: 100%;
  background-color: orange;
  margin-top: -40px;
  margin-bottom: 60px;
}

.h6 {
  margin-top: -200px !important;
}

.createtable {
  border: 1px;
}

.btncolor {
  background-color: orange !important;
  color: black !important;
}

.logo {
  width: 290px;
  margin-top: -40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.text-center {
  margin-top: 20px;
  margin-bottom: 20px;
}

.tablecreate {
  width: 80%;
  margin: auto;
  background-color: #e4e9f5;
  border-radius: 20px;
}

.innertcreate {
  width: 90%;
  margin: auto;
  padding-top: 50px;
  padding-bottom: 50px;
}

.table-striped > tbody > tr:nth-child(odd) > td,
.table-striped > tbody > tr:nth-child(odd) > th {
  background-color: hsla(39, 100%, 50%, 0.1);
}

.table {
  padding-top: 5%;
}
