.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.jumbotron {
  height: 300px;
  width: 100%;
  padding-top: 100%;
  padding-bottom: 20%;
}

.bar {
  height: 30px;
  width: 100%;
  background-color: orange;
  margin-top: -40px;
  margin-bottom: 60px;
}

.footer {
  position: static;
  bottom: 0;
  height: 40px;
  width: 100%;
  background-color: orange;
  margin-top: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.logout {
  margin-top: -1250px;
  background-color: orange !important;
  color: black !important;
  width: 130px;
}

.stylenav{
width: 400px !important;
height: 320px;
background-color:#e4e9f5;  
padding-top: 30px;  
margin-bottom: 30px;
border-radius: 20px;
}

.membertext {
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login{
background-color: #e4e9f5 !important; 
border-radius: 4px;
color: black !important;
width: 135px;
height: 39px;
margin-top: 10px;
border-style: hidden;
}

.auth-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.h6 {
  margin-top: -200px !important;
}

.createtable {
  border: 1px;
}

.btncolor {
  background-color: orange !important;
  color: black !important;
  border: none !important;
}

.logo {
  width: 290px;
  margin-top: -40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.text-center {
  margin-top: 20px;
  margin-bottom: 20px;
}

.tablecreate {
  width: 80%;
  margin: auto;
  background-color: #e4e9f5;
  border-radius: 20px;
  margin-bottom: 70px;
}

.innertcreate {
  width: 90%;
  margin: auto;
  padding-top: 50px;
  padding-bottom: 50px;
}

.table-striped > tbody > tr:nth-child(odd) > td,
.table-striped > tbody > tr:nth-child(odd) > th {
  background-color: #e4e9f5;
}

.table1 {
  padding-top: 15px;
  width: 10%;
  margin: auto;
}

.header2{
  font-size: 38px;
  color:#05324c;
}

.loginform{
  margin-top: 20px;
  margin:auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.input1{
  margin-top: 20px;
  margin:auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.btnsubmit{
  width: 130px !important;
  background-color: orange !important; 
color: black !important;
width: 135px;
height: 39px;
border-radius: 4px;
margin-top: 10px;
font-size: 20px !important;
border-style: hidden !important;


}

.sent1{
  margin-bottom: 20px;
}

.input2{
  width: 250px;
  height: 38px;
}

.outerdietlog{
  width: 84%;
  margin: auto;
}

table td {
  vertical-align: middle !important;
}

.id{
  vertical-align: middle !important;
  color:darkorange;
}

.updatebtn1{
  width: 100px !important;
  margin-right: 10px;
  color: black !important;
  background-color: orange !important;
  border-style: hidden !important;


}

.deletebtn1{
  width: 100px !important;
  margin-right: 5px;
  color: white !important;
  background-color: #05324c !important;
  border-style: hidden !important;

}

.jumbotron2{
  width: 96%;
  height: 100px;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 15px 15px 0px 0px;
  
  font-weight:bold;
}

.yourheader{
  margin: auto !important;
}

.table1{
  margin-top: -15px;
}





